{% extends "theme/base_admin.html.twig" %}

{% block title %}Admin - Modifier un article{% endblock %}
{% block tiny %}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({
    selector: 'textarea#post_content'
  });</script>
{% endblock %}
{% block adminContent %}

<section class="d-flex justify-content-center align items-center mx-5">
    <div class="container mx-5">
        <div class="row mb-5 mx-5">
            <div class="col-md-7">
                    <h1 class="display-5 text-center">
                        Modifier un article
                    </h1>
            </div>
        </div>
        <div class="col mx-5">
            <div class="register-section-form">

                    {{ form_start(form) }}
                    {# Titre #}
                    <div class="mb-5 d-flex">
                        <div class="w-25 mx-3 mt-2">
                            <label for="">Titre</label>
                        </div>
                        <div class="w-50">
                            {{ form_widget(form.title, {'attr' : {'class' : 'form-control', 'autofocus' : true}}) }}
                            <div class="text-danger mt-1">
                                {{ form_errors(form.title) }}
                            </div>
                        </div>
                    </div>
                    {# Catégorie #}
                    <div class="mb-5 d-flex">
                        <div class="w-25 mx-3 mt-2">
                            <label for="">Catégorie</label>
                        </div>
                        <div class="w-50">
                            {{ form_widget(form.category, {'attr' : {'class' : 'form-select'}}) }}
                            <div class="text-danger mt-1">
                                {{ form_errors(form.category) }}
                            </div>
                        </div>
                    </div>
                    {# Image #}
                    <div class="mb-5 d-flex">
                        <div class="w-25 mx-3 mt-2">
                            <label for="">Image</label>
                        </div>
                        <div>
                            <img src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('admin_post_image_thumbnail') }}" alt="">
                        </div>
                        <div class="w-50">
                            {{ form_widget(form.imageFile, {'attr' : {'class' : 'form-control'}}) }}
                            <div class="text-danger mt-1">
                                {{ form_errors(form.imageFile) }}
                            </div>
                        </div>
                    </div>
                    {# Content #}
                    <div class="mb-5 d-flex">
                        <div class="w-25 mx-3 mt-2">
                            <label for="">Contenu</label>
                        </div>
                        <div class="w-75">
                            {{ form_widget(form.content, {'attr' : {'class' : 'form-control', 'rows' : 20}}) }}
                            <div class="text-danger mt-1">
                                {{ form_errors(form.content) }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="mb-3 d-flex mx-3">
                        <button type="submit" class="btn btn-lg btn-info" value="Mofidier" formnovalidate>Modifier</button>
                    </div>
                    {{ form_end(form) }}

            </div>
        </div>
    </div>
</section>
{% endblock %}